<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add student</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
		<h2 class="page-header" align="center">Add Editor</h2><hr/>
		<form action="/student/add/submit" method="get">
			<table border="5">
				<tr>
					<td><label for="npm"><b>NPM</b></label></td> 
					<td><input type="text" name="npm"/></td>
				</tr>
				<tr>
					<td><label for="name"><b>Name</b></label></td> 
					<td><input type="text" name="name"/></td>
				</tr>
				<tr>
					<td><label for="gpa"><b>GPA</b></label></td> 
					<td><input type="text" name="gpa"/></td>
				</tr>
			</table><br/>
			<div>
				<button type="submit" name="action" value="save" class="btn btn-success">Save</button>
			</div>
		</form>
	<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>

